* {
  transition: ease all 50ms;
}
.disclaimer {
  border: solid gray 1px;
  padding: 20px;
  border-radius: 5px;
}
.category-parent {
  margin: 10px 0px;
  cursor: pointer;
}
.category {
  background: #ffbe16;
  height: 50px;
  padding: 10px 10px 0px 20px;
}
.sub-category {
  margin-left: 30px;
}
.topic {
  float: left;
  font-size: larger;
}
.fa-chevron-circle-down {
  float: right;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
.fa-chevron-circle-up {
  float: right;
  font-size: 30px;
  color: white !important;
  cursor: pointer;
  display: none;
}
.toll-free-info {
  display: none;
}
.task-force-info {
  display: none;
}
.health-info {
  display: none;
}

/*_________________________________________ */
.essential-supplies-info {
  display: none;
}
.sub-category-food-info {
  display: none;
}
.sub-category-drinks-info {
  display: none;
}
.sub-category-online-info {
  display: none;
}
.sub-category-gas-info {
  display: none;
}
.sub-category-task-force-info {
  display: none;
}
.sub-category-teleconsultation-info {
  display: none;
}
.sub-category-health-incharge-info {
  display: none;
}
/*_________________________________________ */
.sub-category {
  margin-left: 50px;
  color: #0b2a87;
  transition: all 200ms ease;
}
.active-category {
  color: white;
  transition: all 50ms ease;
}
.active {
  color: #09b011 !important;
}
.sub-category-disclaimer {
  font-size: 10px;
  margin-left: 50px;
}
/*_________________________________________ */
/*TABLE */

.table thead th {
  font-size: 13px;
}
.table td {
  font-size: 13px;
}
