.disclaimer {
  border: solid gray 1px;
  padding: 20px;
  border-radius: 5px;
}
.category-parent {
  margin: 10px 0px;
  cursor: pointer;
}
.category {
  background: #ffbe16;
  height: 50px;
  padding: 10px 10px 0px 20px;
}
.sub-category {
  margin-left: 30px;
}
.topic {
  float: left;
  font-size: larger;
}
.fa-chevron-circle-down {
  float: right;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
.toll-free-info {
  display: none;
}

.health-info {
  display: none;
}

/*_________________________________________ */
.essential-supplies-info {
  display: none;
}

.sub-category-food-info {
  display: none;
}
/*_________________________________________ */
.sub-category {
  margin-left: 50px;
}
/*_________________________________________ */
/*TABLE */

.table thead th {
  font-size: 13px;
}
.table td {
  font-size: 13px;
}
